.container{
width:1000px;
height:1000px;
background-color: lavender;
}
.item1{
    height:100px;
    width:1000px;
    background-color: khaki;
    

}
.item2{
    height:200px;
    width:400px;
    background-color: gainsboro;

}
.item3{
    height:300px;
    width:400px;
    background-color: lightgreen;
    margin-left:500px;
    margin-top:0px

}
.item4{
    height:200px;
    width:400px;
    background-color:lightslategray;
    position:relative;
}
.item5{
    height:100px;
    width:1000px;
    background-color: lightsalmon;

}
